body {
  font-family: 'Open Sans';
  background: #fff;
  overflow: visible;
  padding: 25px;
  margin: 0px;
}

#main {
  margin:0px;
  font-size: 17px;
}

#bottom {
  width: auto;
  margin:0px;
  position: absolute;
  bottom: 20px;
  right: 20px; 
}

#close {
  display: none;
}

#progress {
  position: absolute;
  left: 30px;        
  bottom: 30px;      
}

.button {
  float: right;
	display:inline-block;
  background-image: linear-gradient(to bottom, #f7f9fa, #dcdee0);
	cursor:pointer;
	font-size:13px;
	font-weight:bold;
  color: #222;
	text-decoration:none;
  border-radius: 2px;
  outline: 0;
  padding: 4px 14px;
  border: 1px solid #eee;
}

.button:hover {
  background-image: linear-gradient(to bottom, #e8e5e8, #dedede);
}

.button:active {
  background: #ccc;
}

.icon {
  margin-right: 8px;
}

.octicon-check {
  color: #27ae60;
}

.octicon-circle-slash {
  color: #FF0000;
}


.sk-cube-grid {
  width: 30px;
  height: 30px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
