body {
  padding: 0px;
  margin: 0px;
  color: #eee;
  font-family: 'Open Sans';
  overflow: hidden;
  resize: none;
  -webkit-user-select: none;
  height: 100%;
  width: 100%;
  display: flex;
}

div {
  margin: 0px;
  padding: 0px;
}

/* ------ Side ------- */

#side {
  flex: 0 0 22%;
  background: rgba(242, 243, 245, 1)
}

#menu {
  height: 100%;
  border-right: 1px solid #e1e1e1;
}

input#search {
  padding: 25px 10px;
  background: inherit;
  color: #222;
  border: 0px;                                        
  height: 28px;                                       
  width: 100%;
  font-size: 12px;                                    
  outline: 0;                                         
  text-align: center;
  border-bottom: 1px solid #dadada;
}

::-webkit-input-placeholder { 
  color: #666;
  text-align: center;
  font-style: italic;
}

#menu-items {
  color: #666;
  padding: 0px;
  font-size: 12px;
}

#menu-items>li {
  list-style-type: none;
  cursor: pointer;
  padding: 12px 5px 12px 26px;
}

#menu-items>li:hover, #menu-items>li.selected {
  background: #DADBE4;
}

#menu-items>li.selected {
  font-weight: 700;
}

#upload {
  width: calc(22% - 1px);
  position: absolute;
  bottom: 0px;
  color: #555;
  font-size: 13px;
  padding: 18px 0px 20px 0px;
  font-weight: bold;
  text-align: center;
  background: rgba(249, 250, 253, 1);
  border-top: 1px solid #dadada;
  cursor: pointer;
}

#upload .icon {
  margin-right: 4px;
}

#menu-items .icon {
  text-align: left;
  width: 12px;
}

/* ------ Main ------- */

#main {
  flex: 1;
  background: #fff;
}


#files_container {
  width: 100%;
  height: 100%;
  color: #191919;

  overflow-y: scroll;
}


#files_container>ul {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

#files_container>ul>li {
  list-style-type: none;
  cursor: default;
}

#files_container>ul>li:first-child {
  margin-top: 10px;
}

#files_container>ul>li:last-child {
  margin-bottom: 10px;
}

#files_container>ul>li>div {
  height: auto;
  vertical-align: middle;
  clear: both;
}

.file-name-label {
  font-size: 13px;
  color: #4d4d4d;
  vertical-align: middle;
  display: inline-block;
  padding: 15px 16px 15px 10px;
  width: calc(100% - 52px - 26px - 140px);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon {
  margin-right: 10px;
  color: #777;
}

.icon-info {
  text-align: right;
  margin-right: 45px;
  color: #777;
  font-size: 12px;
  width: 70px;
  display: inline-block;
  position: relative;
  bottom: -2px;
}

.index {
  margin-right: 18px;
  width: 25px;
  text-align: right;
  display: inline-block;
  font-size: 11px;
  color: #777;
}

.verify-button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #2980b9;
  border: 1px solid #2980b9;
  border-radius: 30px;
  padding: 3px 0px;
  width: 52px;
  text-align: center;
  outline: 0;
}

.verify-button:hover{
}

.verify-button:active{
  color: #34495e;
  border: 1px solid #34495e;
}

a.main {
  width:auto;
  text-decoration: none;
  text-align:center;
  color: inherit;
  display: block;
  margin:10px 40px 10px 40px;
  padding:10px;
  font-size:18px;
}

a.main:hover {
  text-decoration: underline;
}

a.main:visited {
  color: inherit;
}

*:focus {
    outline: 0;
}


/* --------- 3rd party -------- */


#spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
