body {
  padding: 0px;
  margin: 0px;
  color: #eee;
  font-family: 'Open Sans';
  overflow: hidden;
  resize: none;
  -webkit-user-select: none;
  background: #f3f3f3;
}

div {
  margin: 0px;
  padding: 0px;
}

#files_container {
  width: 100%;
  max-height: calc(100% - 56px);

  overflow-y: scroll;
}


ul {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
}

li:first-child {
  margin-top: 14px;
}

li:last-child {
  margin-bottom: 14px;
}

li {
  margin: 0px 10px 0px 10px;
  list-style-type: none;
  color: #191919;
  background: #fbfcfc;
  cursor: default;
  
  box-shadow: 0px 0px 9px -5px #333;
}

li:hover {
  background: #fff;
}

li>div {
  height: auto;
  vertical-align: middle;
  clear: both;
}

.file-name-label {
  vertical-align: middle;
  display: inline-block;
  padding: 15px 16px;
  width: calc(100% - 52px - 26px - 140px);
  max-width: calc(100% - 52px - 26px - 140px);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon {
  margin-right: 10px;
}

.icon-info {
  text-align: right;
  margin-right: 45px;
  color: #777;
  font-size: 12px;
  width: 70px;
  display: inline-block;
  position: relative;
  bottom: -2px;
}

.verify-button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #2980b9;
  border: 1px solid #2980b9;
  border-radius: 30px;
  padding: 3px 0px;
  width: 52px;
  text-align: center;
  outline: 0;
}

.verify-button:hover{
}

.verify-button:active{
  color: #34495e;
  border: 1px solid #34495e;
}

input#search {
  background: #f7f9fa;
  margin: 0px;
  padding-left: 17px;
  border: 0px;
  height: 32px;
  width: 220px;
  font-size: 13px;
  float: right;
  outline: 0;
  border-radius: 30px;
  box-shadow: inset 0px 0px 4px -2px rgba(51,51,51,1);
}

#main {
}

button {
  font-size: 13px;
  padding: 7px 12px;
  margin: 0px 6px 0px 0px;
  background-image: linear-gradient(to bottom, #f7f9fa, #dcdee0);
  border-radius: 2px;
  color: #333;
  outline: 0;
  height: 32px;
  border: 0px;
}

button>.icon {
  margin-right: 4px;
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, #e8e5e8, #dedede);
}

button:active {
  background: #ccc;
}

a.main {
  width:auto;
  text-decoration: none;
  text-align:center;
  color: inherit;
  display: block;
  margin:10px 40px 10px 40px;
  padding:10px;
  font-size:18px;
}

a.main:hover {
  text-decoration: underline;
}

a.main:visited {
  color: inherit;
}

*:focus {
    outline: 0;
}

#menu {
  padding: 13px 16px;
  background: linear-gradient(to right, #136a8a , #267871); 
}

/*::-webkit-scrollbar {      */
/*  width: 6px;              */
/*}                          */
 
/*::-webkit-scrollbar-track {*/
/*  background: #eee;        */
/*}                          */
 
/*::-webkit-scrollbar-thumb {*/
/*  background: #bdc3c7;     */
/*}                          */

/* loading */

#spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
