body {
  background: #f5f7f8;
  padding: 0px;
  margin: 0px;
  color: #eee;
  font-family: 'Helvetica Neue';
  overflow: hidden;
  resize: none;
  -webkit-user-select: none;
}

div {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 6px 10px;
  font-size: 14px;
}

li {
  list-style-type: none;
  color: #222;

  border: 0px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #ddd 1%,#f5f7f8 95%);
  border-image-slice: 1;
  cursor: default;
}

li:hover {
  background: #f1f2f3;
}

li>div {
  height: auto;
  vertical-align: middle;
  clear: both;
}

.file-name-label {
  vertical-align: middle;
  display: inline-block;
  padding: 14px 14px;
  width: calc(100% - 52px - 26px - 14px);
}

.icon {
  margin-right: 8px;
}

.verify-button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #2980b9;
  border: 1px solid #2980b9;
  border-radius: 30px;
  padding: 3px 0px;
  width: 52px;
  text-align: center;
  outline: 0;
}

.verify-button:hover{
}

.verify-button:active{
  color: #34495e;
  border: 1px solid #34495e;
}

input#search {
  background: #f7f9fa;
  margin: 0px;
  padding-left: 17px;
  border: 0px;
  height: 32px;
  width: 220px;
  font-size: 13px;
  float: right;
  outline: 0;
  border-radius: 30px;
  box-shadow: inset 0px 0px 4px -2px rgba(51,51,51,1);
}

#main {
}

button {
  font-size: 13px;
  padding: 7px 12px;
  margin: 0px 6px 0px 0px;
  background-image: linear-gradient(to bottom, #f7f9fa, #dcdee0);
  border-radius: 2px;
  color: #333;
  outline: 0;
  height: 32px;
  border: 0px;
}

button>.icon {
  margin-right: 4px;
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, #e8e5e8, #dedede);
}

button:active {
  background: #ccc;
}

a.main {
  width:auto;
  text-decoration: none;
  text-align:center;
  color: inherit;
  display: block;
  margin:10px 40px 10px 40px;
  padding:10px;
  font-size:18px;
}

a.main:hover {
  text-decoration: underline;
}

a.main:visited {
  color: inherit;
}

*:focus {
    outline: 0;
}

#menu {
  padding: 13px 16px;
  background: #34495e;
}

#files_container {
  width: 100%;
  max-height: calc(100% - 58px);

  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
}
 
::-webkit-scrollbar-track {
  background: #eee;
}
 
::-webkit-scrollbar-thumb {
  background: #bdc3c7; 
}
